
#### IllustriousKuiil 1
TURN-LEVEL error analysis on 30 GPT-4 generated example turns:

* Non-existing slots: 13/30
    * "name: speaker" happens a lot
* Overlapping slots: 2/30
* False information: 5/30
* Missing Information: 1/30
* Good count: 12/30